<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.demo.dds.dao.mapper.CountryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.my.demo.dds.entity.po.Country">
        <id column="country_id" property="countryId" />
        <result column="country" property="country" />
        <result column="last_update" property="lastUpdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        country_id, country, last_update
    </sql>

</mapper>
